<div class='image'>
<h1>Dreamshare</h1>
<h2>What if we could hear each others dreams?</h2>

<div class="text-center">
  <%= link_to "Get Started", new_user_registration_path, class: 'btn btn-primary' %>
</div>
</div>



<div class='content'>
  <h1>The biology of dreams</h1>
  <h3>hello</h3>
</div>
