<div class='image2'>
  <div class="text-center">
<h1>Dreamshare</h1>
<h2>What if we could hear each others dreams?</h2>
  <%= link_to "Get Started", new_user_registration_path, class: 'btn btn-lg btn-primary' %>
  </div>
</div>




<div class='content'>
  <h1>The biology of dreams</h1>
  <h3>Dreams reveal the structure of how we envision our lives, a display that is clearly valuable for anyone who remembers and studies their own dreams.</h3></br>
  <h5>Calvin Hall was a behavioal psychologist and leading researcher during his time, which gave rise to his  Cognitive Theory of Dreaming. In his classic work The Meaning of Dreams (1966), Hall writes, “The images of a dream are the concrete embodiments of the dreamer’s thoughts; these images give visual expression to that which is invisible, namely, conceptions.” (p. 95).</h5>
  <%= image_tag('http://dreamstudies.org/wp-content/uploads/2009/12/scientific-dream-interpretation.jpg') %>
</div>
