<body class="body">
<div class="posts-wrapper row">
  <% @entries.each do |entry| %>
    <div class="post">
      <div class="post-head">
        <div class="name">
          Jeremy
        </div>
      </div>
      <div class="image center-block">
        <%= link_to (image_tag entry.image.url, class:'img-responsive'), entry_path(entry) %>
      </div>
      <p class="caption">
        <%= entry.content %>
      </p>
      <span class="timestamp">
        Posted <%= Time.zone.now %>
        <% if current_user %>
        <%= link_to "Delete", entry, method: :delete,
                                    data: {confirm: 'Are you sure?'} %>
        <% end %>
        </span>
    </div>
      <% end %>
</div>
</body>
