<%= render 'layouts/header' %>
<h1>Dreamshare</h1>
<h2>What would happen if we could hear each others dreams?</h2>
<section class="dream">
  <p>This is dream section</p>
</section>
<%= link_to "New Dream", new_entry_path %>
